.divShape {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}
.viewpackage {
  background-color: bisque;
}
.imgicon{
  margin-left: 2px;
  width: 30px;
  height:30px
}
.paragraph
{
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}