.AddDest{
    text-align: center;
    color:rgb(148, 8, 146);
  }
 .background{
   background-color: aqua;
 }
 .label-control-Ad
 {
   text-decoration: black;
   text-decoration-color: black;
   color: black;
   font-weight: bold;
 }
 .imagebg
 {
   background: url(../../assets/addDestinationImg.jpg);
 }
 div.transferboxAd
{
  opacity: 0.8;
  background-color: rgb(112, 246, 177);
  
}