.h1 {
    text-align: center;
    color:black;
  }
.label-control-ud{
  color: rgb(14, 14, 14);
  font-weight: bold;
}
.textarea{
  background-color: chocolate;
}
.imagedest
  {
   background: url(https://www.itl.cat/pngfile/big/82-823167_jammu-kashmir-pangong-lake-wallpapers-42-wallpapers-kashmir.jpg);
   background-size: cover;
  }
div.transferbox
{
  opacity: 0.8;
  background-color: rgb(164, 231, 170);
  
}
