.h1 {
    text-align: center;
  }
  .imagebg1
 {
   background: url(../../assets/addPackageBgImg.jpeg);
 }
  
  .label-control-pkg
  {
    text-decoration: black;
    text-decoration-color: black;
    color: black;
    font-weight: bold;
  }
  .form1{
    padding: 10;
  }
  .transferboxpkg
{
  opacity: 0.8;
  background-color: rgb(246, 219, 97);
  
}