.td{
    color: brown;
    font-size: x-large;
    font-weight: bold;
}
.styling
{
    font-family:serif;
    color: rgb(155, 22, 93);
}
.stylingh5{
    color: rgb(16, 27, 153);
   
    font-size:10 ;
}