.h1font{
    font-family: 'Dancing Script', cursive;
    color: rgb(56, 255, 11);
    font-weight: bold;
    font-size: 200%;
    
}
.img-responsive2 {
    height: 50px;
    width: 50px; 
}
.imagehome{
    background: url(assets/homepage.jpg);
    width: 100%;
    height: 20%;
}
.navbarctext
{
   position: fixed;
            left: 50%;
            top: 0.0cm;
            transform: translatex(-50%);
}