.h1 {
    text-align: center;
  }
  
  .label-controleEditpkg
  {
    text-decoration: black;
    text-decoration-color: black;
    color: black;
    font-weight: bold;

  }
  .transferboxeditpkg
  {
   
    background-color: rgb(136, 148, 243);
    
  }
  #bottomContainer::before{
    content: "";  
  background:url('../../assets/editPackageBgImg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 130%;
    width: 100%;
    z-index:-1;
    opacity: 0.4;
  }