.site-footer{
    background-color: rgb(221, 209, 231);
    margin: 1;

    height: 300;
    width: 200;
    background-image: linear-gradient(109.6);
    /* background-image: url(https://lsio.azurewebsites.net/Images/footer.png); */
} 