#bottomContainerUser::before{
  content: "";  
  background:url('../../assets/userprofile.jpg') no-repeat center center/cover;
  position: absolute;
  height: 120%;
  width: 100%;
  z-index:-1;
  opacity: 0.5;
}
.transferBoxuser{
  background-color: whitesmoke;
}